.ipynb_checkpoints/

# virtual environments
quiz_scraper_env/
practise_exam_scraper_env/
.venv*

# Excel files
*.xlsx 
*.xls

# API credentials files (for testing, should store API Keys in Environment Variables)
azure_credentials.json